[Desktop Entry]
Version=3.4
Name=ASKilit Application
Name[tr_TR]=ASKilit
Type=Application
Comment=Screen Lock Application
Comment[tr]=Ebaqr Ekran Kilit
Terminal=false
Exec=/usr/bin/askilit
Icon=/usr/share/askilit/askilit.svg
Categories=Qt;Utility;
Keywords=askilit;kilit;lock;screen;
GenericName=ASKilit
