[Desktop Entry]
Version=1.0
Name=ASKilit Application
Name[tr]=ASKilit
Type=Application
Comment=Screen Lock Application
Comment[tr]=Ebaqr Ekran Kilit
Terminal=false
Exec=python3 /usr/bin/askilit
Icon=/usr/share/askilit/askilit.svg
Categories=Qt;Utility;
Keywords=askilit;kilit;lock;screen;
Name[tr_TR]=askilit.desktop
GenericName=ASKilit
